<footer class="footer-distributed">

      <div class="footer-left">

        <h3><img src="/assets/bcircle.png" width="45" height="45"> Code</h3>

        <p class="footer-links">

          <%= link_to "Нүүр хуудас", index_path %>
          ·
          <%= link_to "Хичээл", lessonindex_path %>
          ·
          <%= link_to "Видео", mediaindex_path %>
          ·
          <%= link_to "Асуулт хариулт", index_path %>

        </p>

        <p class="footer-company-name">Coder man &copy; 2015</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>42-А Атимос Баянзүрх дүүрэг</span> Улаанбаатар, Монгол улс</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+976 99879365</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">tsoodol_tse@yahoo.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>Бидний тухай</span>
          Манай веб нь онлайнаар үйл ажиллагаа явуулдаг бөгөөд програмчлалын хэлнүүдийн
          хичээл  бэлтгэж явуулдаг. Бид өнөөдөрийн хүрээнд өөрсдийн үйл ажиллагааны онцлогт
          тулгуурлан үйл ажиллагаагаа эрхэлж байна.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/?_rdr=p" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://mn.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>