<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Fullscreen toggle</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                    <ul class="list-inline panel-actions">
                        <li><a href="#" id="panel-fullscreen" role="button" title="Toggle fullscreen"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <h3>Panel body</h3>
                    <p>Click the resize icon in the top right to make this fullscreen.</p>
                    <p>Click the icon again to return to the normal size.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center">
    	<a href="#" class="btn btn-default" id="btn1">Btn 1</a>
    	<a href="#" class="btn btn-default" id="btn2">Btn 2</a>
    	<a href="#" class="btn btn-default" id="btn3">Btn 3</a>
    	<a href="#" class="btn btn-default" id="btn4">Btn 4</a>
    </div>

	<div class="row">
		<div class="col-md-3">
			<div id="panel11" class="panel panel-primary">
				<div class="panel-heading">
					Panel neg
				</div>
				<div class="panel-body">
					Aguugla
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="panel22" class="panel panel-primary">
				<div class="panel-heading">
					Panel hoyr
				</div>
				<div class="panel-body">
					Aguugla
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="panel33" class="panel panel-primary">
				<div class="panel-heading">
					Panel gurav
				</div>
				<div class="panel-body">
					Aguugla
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div id="panel4" class="panel panel-primary">
				<div class="panel-heading">
					Panel dorov
				</div>
				<div class="panel-body">
					Aguugla
				</div>
			</div>
		</div>

	</div>
</div>


<!--<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="#" class="navbar-brand">THEULAANBAATAR</a>
		</div>

		<div class="collapse navbar-collapse" id="mainNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Friends</a></li>
						<li><a href="#">Photos</a></li>
						<li><a href="#">Settings</a></li>
					</ul>


				</li>
			</ul>

		</div>
	</div>
</nav>


<div class="container">

	<h1>3 columns layout</h1>
	<div class="row">
		<div class="col-md-4" style="background-color: #FF9999;">Left</div>
		<div class="col-md-4" style="background-color: #99CCFF;">MIddle</div>
		<div class="col-md-4" style="background-color: #00CC99">Right</div>

		<p>Paragpah <mark>for you</mark> are.</p>

		<blockquote>
			<p>Paragpah for you are.Paragpah for you are.Paragpah for you are.</p>
			<footer>Footer for you</footer>
		</blockquote>

		<p>This si supposed to be keyboard input <kbd>For AL T A</kbd></p>


		<p class="text-danger">This si supposed to be keyboard input <kbd>For AL T A</kbd></p>
		<p class="text-muted">This si supposed to be keyboard input <kbd>For AL T A</kbd></p>
		<p class="text-danger bg-success">This si supposed to be keyboard input <kbd>For AL T A</kbd></p>


		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbobdy>
				<tr>
					<td>Tsoodol</td>
					<td>21</td>
					<td>3.8</td>
				</tr>
				<tr>
					<td>Tiku</td>
					<td>21</td>
					<td>3.68</td>
				</tr>
			</tbobdy>
		</table>

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbobdy>
				<tr>
					<td>Tsoodol</td>
					<td>21</td>
					<td>3.8</td>
				</tr>
				<tr>
					<td>Tiku</td>
					<td>21</td>
					<td>3.68</td>
				</tr>
			</tbobdy>
		</table>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbobdy>
				<tr>
					<td>Tsoodol</td>
					<td>21</td>
					<td>3.8</td>
				</tr>
				<tr>
					<td>Tiku</td>
					<td>21</td>
					<td>3.68</td>
				</tr>
			</tbobdy>
		</table>


		<img src="/assets/matthew.png" class="img-rounded" width="230" height="230" />
		<img src="/assets/matthew.png" class="" width="230" height="230" />



		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/-u-ClHu3XQBnGU"></iframe>
		</div>
	</div>




	<h2>Wells are sections wird gsdkg sdjk gsdkl gjsd klgsdg k</h2>
	<div class="well">Basasg</div>
	<div class="well">fasfasfasfasfsa</div>

	<div class="alert alert-success">Conturlattions asont oasotnas </div>


	<div class="alert alert-info">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Are you sure to close?
	</div>

	<div class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Are you sure to close?
	</div>

	<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Are you sure to close?
	</div>
</div>-->